<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="icon" href="images/favicon-32x32.png")
        link(rel="preconnect", href="https://fonts.gstatic.com")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap")
        link(rel="stylesheet", href="style.css")
    body
        section
            div.sec-1
                h3 Reliable, efficient delivery
                h2 Powered by Technology
                p Our Artificial Intelligence powered tools use millions of project data points to ensure that your project is successful
            div.sec-2
                div.min-1
                    h4 Supervisor
                    p Monitors activity to identify project roadblocks
                    img(src="images/icon-supervisor.svg" alt="icon-supervisor")
                div.min-2
                    div.mr-1
                        h4 Team Builder
                        p Scans our talent network to create the optimal team for your project
                        img(src="images/icon-team-builder.svg" alt="icon-team-builder")
                    div.mr-2
                        h4 Karma
                        p Regularly evaluates our talent to ensure quality
                        img(src="images/icon-karma.svg" alt="icon-karma")
                div.min-3
                    h4 Calculator
                    p Uses data from past projects to provide better delivery estimates
                    img(src="images/icon-calculator.svg" alt="icon-calculator")
        //this site create by Mohamed Maghraby